.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.flex-equal {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
}
.flex-justify-center {
	justify-content: center;
}
.flex-justify-between {
	justify-content: space-between;
}
.flex-justify-around {
	justify-content: space-around;
}
.flex-justify-start {
	justify-content: flex-start;
}
.flex-justify-end {
	justify-content: flex-end;
}
.flex-align-center {
	align-items: center;
}
.flex-align-stretch {
	align-items: stretch;
}
.flex-align-baseline {
	align-items: baseline;
}
.flex-align-start {
	align-items: flex-start;
}
.flex-align-end {
	align-items: flex-end;
}

.header {
	background-color: aliceblue;
}

.header__navigation {

}

.header__navigation__list {
	list-style-type: none
}

.header__navigation__element > .header__navigation__button {
	background-color: teal;
	color: yellowgreen;
	font-size: 16px;
}

.header__navigation__element-active > .header__navigation__button {
	background-color: yellowgreen;
	color: white;
}

.header__navigation__element:not(.header__navigation__element-active) > .header__navigation__button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
} 

.header__navigation__element + .header__navigation__element {
	margin-left: 10px;
}






$spaces: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 50);
@each $space in $spaces {
	@each $prop, $abbrev in (margin: m, padding: p) {
		@each $side, $infix in (top: t, bottom: b, left: l, right: r) {
			.#{$abbrev}#{$infix}-#{$space} {
				#{$prop}-#{$side}: #{$space}px;
			}
		}
	}
}